@model Asignatura
@* Para estructura un código razor fuertemente tipado debemos indicarle a que modelo hace referencia con
    [@model{modelo}] *@

@{
    ViewData["Title"] = "Información Asignatura";
    //var demo = ViewData["cosaDinamica"];

    /* Si no localiza una plantilla asignada, por defecto le asignaría [_Layout] */
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre</h2>

<strong>Vista parcial</strong>
<partial name="_ObjetoEscuelaSimple" model="@Model" />
<!-- Si la vista parcial no recibe el modelo, esta asumirá el modelo de la vista general -->

@*
    @{a-z} => Razor (Me permite interactuar datos del backend[Controller] en el frontend[View], así como utilizar funciones
    propias del core)
    ViewBag => Almacena datos dinamicos.
    ViewData => Muy similar al viewbag no obstante se extrae la información de diferente manera.
*@